@import "reset";
@import "type";


$primary-color: #ff6600;
$body-font: "Jost";
$body-size: 24px;

$mq-med: 600px;
$mq-large: 800px;

@mixin mq($width) {
	@media (max-width: $width) {
		@content;
	}
}

@mixin vertically-middle() {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

body {
	background-color: $primary-color;
	color: white;
	font-family: $body-font;
	font-size: $body-size;
	min-height: 100vh;
	@include vertically-middle;

	@include mq($mq-med) {
		background-color: blue;
	}
	@include mq($mq-large) {
		background-color: green;
	}
}

section {
	width: 500px;
	@include mq($mq-med) {
		width: 350px;
		font-size: 16px;
	}
	p {
		margin: 24px 0 0 0;
	}
}